.timer {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;    
}

/* .timer {
    width: 960px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 177px 130px 33px 95px;
 } */